.input-wrapper {
  display: flex;
  gap: 10px;
  min-height: 35px;
  min-width: 350px;
}

.input-wrapper input[type='text'] {
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  min-height: 100%;
  flex: 1;
  font-size: 16px;
}
.input-wrapper input[type='submit'] {
  border: 1px solid black;
  border-radius: 8px;
}

.input-wrapper button:active {
  transform: scale(0.95);
}

.input-wrapper button:hover {
  cursor: pointer;
  background-color: blanchedalmond;
  transition: all 150ms ease-in-out;
}

.todo-list-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 70%;
  margin-inline: auto;
}
